h1 {
  margin: 20px auto;
  text-align: center;
}
table {
  margin: auto;
  border-collapse: collapse;
}
td {
  width: 100px;
  height: 100px;
  padding: 0;
}

.horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.vertical {
  border-left: 1px solid black;
  border-right: 1px solid black;
}